<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neumonia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <header class="header">    
        <nav> 
            <a href="#model">Modelo</a>
            <a href="#problem2">Problema</a>
            <a href="#understand">Entendimiento Negocio y Datos
            </a>
            <a href="#data">Ingeniería de Datos</a>
            <a href="#ing">Selección de Algoritmos</a>
            <a href="#evaluation">Evaluación del Modelo</a>
        </nav>
    </header>

    <section id="problem" class="section">
        <div class="problem-container">
            <img src="{{ url_for('static', filename='images/neumonia.webp') }}" alt="Neumonía Infantil" class="problem-image">
            <div class="problem-content">
                <h1>Sistema de Detección de Neumonía</h1>
                <a href="https://github.com/devmiangel/ProyectoFinalML" class="link link-tittle">Portafolio github</a>
            </div>
        </div>
    </section>

    <section id="model">
        <div class="container">
            <h2 class="model-tittle">Modelo</h2>
            <a href="" class="folder-item">
                selecciona/arrastra la radiografia
            </a>
        </div>
    </section>

    <section id="problem2" class="sub-section">
        <h2 class="problem-tittle">Problema</h2>
        <div class="sub-content">
            <h3>Planteamiento</h3>
            <div class="cards-container">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/planteamiento.jpg') }}" alt="Neumonía Infantil" class="card-image">
                    <div class="card-content">
                        <p>La neumonía es una de las principales causas de mortalidad infantil a nivel global (OMS, 2023). Su diagnóstico temprano mediante rayos X es crítico</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='images/planteamiento2.jpg') }}" alt="Neumonía Infantil" class="card-image">
                    <div class="card-content">
                        <p>
                            en regiones con escasez de radiólogos, la interpretación de imágenes puede retrasarse
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='images/interrogante.jpg') }}" alt="Neumonía Infantil" class="card-image">
                    <div class="card-content">
                        <p>
                            Saturación de sistemas de salud en áreas rurales.
                            <br>
                            Falta de estandarización en la evaluación de
                            imágenes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-content">
            <h3>Justificación</h3>
            <div class="justification-container">
                <img src="{{ url_for('static', filename='images/pulmon.jpeg') }}" alt="Neumonía Infantil" class="justification-image">
                <div class="justification-content">
                    
                    <p>
                        Este proyecto busca desarrollar un modelo de machine learning para detectar neumonía en radiografías de tórax.
                        <br>
                        Utilizando un data set público de Kaggle (Chest X-Ray Images), se entrena un modelo de ML "CNN (convolucional neuronal network)" para clasificar imágenes, facilitando la lectura de radiografías, se propone una aplicación web en flask que optimiza recursos médicos y disminuye tiempos de diagnóstico interpretados por los especialistas. 
                        </p>
                </div>
            </div>
        </div>
        <div class="sub-content objectives-container">
            <div class="project-objectives">
                <h3>Objetivos del Proyecto</h3>
                <div class="carousel-container">
                    <div class="carousel">
                        <input type="radio" name="carousel" id="slide1" checked>
                        <input type="radio" name="carousel" id="slide2">
                        <input type="radio" name="carousel" id="slide3">
                        <input type="radio" name="carousel" id="slide4">
                        
                        <div class="carousel-cards">
                            <div class="carousel-card">
                                <h4>Objetivo General</h4>
                                <p>
                                    Desarrollar una aplicación web basada en un modelo de ML "CNN (red neuronal convolucional )" para la detección automática de neumonía en radiografías de tórax, que ayude a reducir los tiempos de espera en diagnósticos y la carga en sistemas de salud con escasez de especialistas
                                </p>
                            </div>
                            <div class="carousel-card">
                                <h4>Objetivo Específico 1</h4>
                                <p>
                                    Implementar una red neuronal convolucional (CNN), optimizando métricas para minimizar falsos negativos
                                </p>
                            </div>
                            <div class="carousel-card">
                                <h4>Objetivo Específico 2</h4>
                                <p>
                                    Evaluar el modelo con radiólogos, comparando sus resultados con diagnósticos manuales para garantizar confiabilidad.
                                </p>
                            </div>
                            <div class="carousel-card">
                                <h4>Objetivo Específico 3</h4>
                                <p>
                                    Crear una interfaz en Flask que permita a los médicos subir radiografías y recibir diagnósticos en segundos, con explicaciones interpretables
                                </p>
                            </div>
                        </div>
                        
                        <div class="carousel-nav">
                            <label for="slide1"></label>
                            <label for="slide2"></label>
                            <label for="slide3"></label>
                            <label for="slide4"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sustainable-objective">
                <h3>Objetivo de Desarrollo Sostenible</h3>
                <div class="ods-container">
                    <div class="ods-image-container">
                        <img src="{{ url_for('static', filename='images/ods.png') }}"alt="Neumonía Infantil" class="ods-image">
                        <div class="ods-overlay">
                            <p>De acuerdo a la justificacion
                                anterior, cabe mencionar, que se
                                el proyecto se realizara acorde
                                al objetivo de desarrollo
                                sostenible numero 3 Salud y
                                bienestar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="understand" class="section">
        <h2 class="section-title">Entendimiento Negocio y Datos</h2>
        <div class="content">
            <div class="understand-flex-container">
                <div class="understand-image-container">
                    <img src="{{ url_for('static', filename='images/odn.webp') }}" alt="Neumonía Infantil" class="understand-image">
                    <div class="understand-overlay">
                        <p>Reducir la mortalidad infantil por neumonía
                            en zonas rurales mediante diagnóstico
                            temprano automatizado.</p>
                    </div>
                </div>
                
                <div class="understand-carousel">
                    <input type="radio" name="understand-slides" id="understand-slide1" checked>
                    <input type="radio" name="understand-slides" id="understand-slide2">
                    <input type="radio" name="understand-slides" id="understand-slide3">
                    <input type="radio" name="understand-slides" id="understand-slide4">
                    
                    <div class="understand-cards">
                        <div class="understand-card">
                            <h4>Preguntas clave</h4>
                        </div>
                        <div class="understand-card">
                            <h4>¿Qué tipo de neumonía detecta?</h4>
                        </div>
                        <div class="understand-card">
                            <h4>¿Cómo medir el éxito?</h4>
                        </div>
                        <div class="understand-card">
                            <h4>¿Qué hacer con imágenes ambiguas?</h4>
                        </div>
                    </div>
                    
                    <div class="understand-nav">
                        <label for="understand-slide1"></label>
                        <label for="understand-slide2"></label>
                        <label for="understand-slide3"></label>
                        <label for="understand-slide4"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="understand-analysis-container">
            <div class="analysis-box">
                <h3>Análisis de Variedad</h3>
                <div class="analysis-content">
                    <p>
                        Técnica
                        <br>
                            Framework: Flask.
                            <br>
                        Organizacional
                        <br>
                            Hospital asociado dispuesto a
                            probar el modelo en fase piloto.
                            <br>
                        Riesgos
                        <br>
                            Sesgo en datos: Solo incluye
                            niños
                    </p>
                </div>
            </div>
            
            <div class="analysis-box">
                <h3>Evaluación del Dataset</h3>
                <div class="analysis-content">
                    <p>
                        El dataset de Kaggle (Chest X-Ray Images) es
                        adecuado para el proyecto, ya que contiene 5,863
                        radiografías etiquetadas (neumonía/normal)
                        validadas por expertos, con resolución suficiente
                        (1,024x1,024 px) para detectar patrones clínicos.
                        Aunque está limitado a pacientes pediátricos, su
                        tamaño y calidad permiten entrenar un modelo
                        confiable para el diagnóstico automático,
                        cumpliendo con el objetivo clínico prioritario
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="data" class="section">
        <h2>Ingeniería de Datos</h2>
        <div class="content">
            <div class="engineering-grid">
                <div class="grid-item large">
                    <h3>Selección</h3>
                    <p>
                        Data set público obtenido de Kaggle: “Chest X-Ray Images (Pneumonia)
                    </p>
                    <img src="{{ url_for('static', filename='images/set.png') }}" alt="Métricas" class="card-image">
                </div>
                <div class="grid-item small">
                    <h3>Limpieza</h3>
                    <p>
                        Verificación de imágenes corruptas o con metadatos inconsistentes
                    </p>
                </div>
                <div class="grid-item small">
                    <h3>Documentación</h3>
                    <p>
                        Establecimiento de que datos se están utilizando para el entrenamiento del modelo
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="ing" class="section">
        <h2>Ingeniería del Modelo</h2>
        <div class="content">
            <div class="engineering-grid">
                <div class="grid-item large">
                    <h3>Selección de Algoritmos</h3>
                    <p>
                        Red neuronal convolucional por su capacidad para extraer características profundas de imágenes médicas.
                        <br>
                        .
                    <img src="{{ url_for('static', filename='images/cnn.png') }}" alt="Métricas" class="card-image">
                </div>
                <div class="grid-item small">
                    <h3>Validación</h3>
                    <p>
                        División clara entre datos de entrenamiento y prueba.
                    </p>
                </div>
                <div class="grid-item small">
                    <h3>Entrenamiento</h3>
                    <p>
                        División clara entre datos de entrenamiento y prueba.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="evaluation" class="section">
        <h2 class="evaluation-tittle">Evaluación del Modelo</h2>
        <div class="sub-content">
        
            <div class="engineering-grid">
                <div class="grid-item large">
                    <h3>Análisis de Riesgos</h3>
                    <img src="{{ url_for('static', filename='images/riesgo.jpg') }}" alt="Métricas" class="card-image">
                    <p>
                        Posibles sesgos por la naturaleza pediátrica del data set.
                        <br>
                        Riesgo de sobreajuste por sobre entrenamiento.
                    </p>
                </div>
                
                <div class="grid-item small">
                    <h3>Revisión con Expertos</h3>
                    <p>
                        Comparar resultados del modelo con evaluaciones de radiólogos si se logra colaboración externa
                    </p>
                </div>
                
                <div class="grid-item small">
                    <h3>Métricas de Desempeño</h3>
                    <p>
                        minimizar falsos negativos, exactitud, precisión , etc.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>